<div>
  <div
    class="p-4 md:py-16 md:px-[18rem] h-[90vh] bg-grey-light flex items-center"
  >
    <div class="w-full md:w-3/5">
      <h1 class="font-unica text-dark-blue-60">ECO</h1>
      <h1 class="font-martian">ALERT</h1>
    </div>
    <div>
      <img
        class="h-[25rem]"
        src="../../../../assets/images/eco-alert-logo.png"
        alt="logo da eco alert"
      />
    </div>
  </div>
  <div class="p-4 md:p-16 bg-white">
    <h3 class="text-black w-full md:w-1/2">
      Tired of finding yourself in polluted zones? Do the planet a favor, become
      an EcoChampion today, and help us identify the nocuous nooks with a tap on
      your screen.
    </h3>
  </div>
  <div class="p-4 md:p-16 pb-0 bg-dark-blue-60">
    <div class="h-[50vh] flex flex-col md:flex-row gap-4 mb-10">
      <img
        class="w-full md:w-4/5 rounded-lg object-cover"
        src="../../../../assets/images/img-poluicao-1.jpg"
        alt="happy old persons"
      />
      <div class="my-auto">
        <h3 class="text-white mb-2">About us</h3>
        <p class="text-white">
          Ever ended up in an industrial wasteland during a Sunday joyride? It's
          definitely a vibe killer! At EcoAlert, we'll show and let you help the
          planet by marking pollution zones. Tech-savvy and eco-friendly folks,
          join us and help turn grey zones green!
        </p>
      </div>
    </div>
    <div class="h-[50vh] flex gap-4 flex-col md:flex-row">
      <img
        class="w-full md:w-4/5 rounded-lg object-cover md:hidden block"
        src="../../../../assets/images/ajudando-limpar.jpg"
        alt="sad old person"
      />
      <div class="my-auto">
        <h3 class="text-white mb-2">How Do I Report a Location?</h3>
        <p class="text-white">
          Once you've spotted a polluted place, just open the EcoAlert web app,
          click on the map,and add a short label. It's as easy as a cat spotting
          a mouse in daylight.
        </p>
      </div>
      <img
        class="w-full md:w-4/5 rounded-lg object-cover hidden md:block"
        src="../../../../assets/images/ajudando-limpar.jpg"
        alt="sad old person"
      />
    </div>
    <div class="h-[25rem] md:mt-0 mt-[10rem]">
      <h3 class="text-white">Test our functions</h3>
      <google-map
        height="100%"
        width="100%"
        [center]="center"
        [zoom]="zoom"
        (mapClick)="moveMap($event)"
        (mapMousemove)="move($event)"
        [options]="{ mapTypeControl: false, fullscreenControl: false }"
        (mapInitialized)="handleMapInitialized($event)"
      >
        <map-marker
          *ngFor="let marker of markers"
          [position]="marker.position"
        ></map-marker>
      </google-map>
    </div>
  </div>
  <div class="p-10 bg-dark-blue-60">
    <p class="text-white text-sm text-center">
      © 2024 EcoAlert Inc. All rights reserved.
    </p>
  </div>
</div>
